@import "tailwindcss";

/* Optional: global overrides */
body {
  background-color: #f9fafb; /* gray-50 */
  color: #111827;           /* gray-900 */
  font-family: 'Montserrat', sans-serif;
}

/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.inputBox {
  @apply mt-1 w-full rounded-xl border border-gray-300 p-3 shadow-sm focus:ring-2 focus:ring-blue-400 focus:outline-none bg-white;
}
